body,
html{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 200;
    background-color:#607D8B;
    text-align: center;
    p{
        color:#CFD8DC;
    }
    .header{
        h1{
            color:#CFD8DC;
        } 
        button{
            h1{
                color:#607D8B;
            }
        }
    }  
}